body {
    font-family: 'Open Sans', Arial, sans-serif;
    width: 100vw;
    min-height: 100vh;
}

.input-wrapper, #info, #cart {
    background-image: linear-gradient(#00000080, #00000080), url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.input-wrapper {
    color: #fff;
    padding: 2em 7.5vw;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 1px 6px rgba(0,0,0,0.8);
    margin-bottom: 0.75em;
}

h2 {
    font-weight: 700;
    margin-bottom: 1em;
}

h4 {
    display: inline;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

h5 {
    font-weight: 600;
    margin-bottom: 0.25rem;
}

header h1 {
    color: #fff;
    margin-top: 0.75em;
}

form input,
form select {
    margin: 6px auto !important;
    outline: none !important;
}

input[type="text"], 
input[type="number"] {
    background: #ffffffe0;
    color: rgba(0,0,0,0.9);
    font-size: 0.9em;
    border: none;
    border-radius: 4px;
    padding: 3px 8px;
}

input[type="number"] {
    margin-right: 0.5em !important;
}

.content-wrapper {
    background: rgba(255,255,255,0.9);
    border-radius: 6px;
    box-shadow: 0 0 1px rgba(39,39,39,.2), 0 1px 12px rgba(39,39,39,.25);
    padding: 25px;
    margin: 3em;
}

.info-container {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

#movieInfo img {
    display: inline-block;
    height: 400px;
    width: auto;
    margin-right: 1.25em;
}

#movieInfo h2 {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

#movieInfo p {
    margin-bottom: 0.25rem;
}

#movieInfo p:last-child {
    margin-bottom: 1.25rem;
}

#movieInfo button {
    margin-left: 0;
}

#movieInfo .btn-success {
    margin-top: 1.5em;
}

.cart-item {
    border-bottom: 1px solid #aaaaaa60;
    margin-bottom: 1.25em;
}

.cart-item img {
    display: inline-block;
    height: 125px;
    width: auto;
    margin: 0 1.25em 0.75em 0.5em;
}

.cart-item p {
    margin-bottom: 0.15em;
}

.cart-item .actions {
    display: inline-block;
    float: right;
    margin-right: 1em;
}

.cart-item button {
    font-size: 0.75em;
}

.cart-actions {
    text-align: center;
}

.cart-actions form {
    display: inline;
}

.cart-total {
    display: block;
    position: relative;
    font-size: 1.2em;
    text-align: center;
    width: 80%;
    margin: auto;
}

.result-wrapper {
    padding: 3em 7.5vw 3em;
}

.result-list {
    list-style: none;
    padding-left: 2em;
}

.result-item {
    /*background-color: #eee;*/
    border-radius: 12px;
    transition: all 350ms ease-in-out;
    box-shadow: none;
    margin-right: 1em;
    margin-bottom: 1.5em;
    padding: 1em 1.5em;
}

.result-item img {
    display: inline;
    height: 250px;
    width: auto;
}

.result-item .info-container {
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
}

.result-item .action-container {
    margin-top: 1em;
}

.result-item form {
    display: inline-block;
    margin-left: 0;
}

.btn, button {
    color: rgba(255,255,255,0.9);
    font-weight: 700;
    letter-spacing: 0.025em;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,0.6);
    /*border: 1px solid #4565b5;*/
    border-radius: 50px;
    padding: 8px 18px;
    transition: all 350ms ease 0ms;
    outline: none !important;
    cursor: pointer;
}

button {
    border-radius: 18px;
    margin: 6px;
}

.btn:hover {
    color: #fff;
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.85);
    padding: 8px 25px;
}

.btn-default {
    background-color: #5070c0;
}

.btn-default:hover {
   background-color: #4565b5;
}